@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Roboto+Slab&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Varela+Round");
/* custom color template */
:root{
  --darkBlue:#0E2C40;
  --midBLUE: #1A4A5A;
  --lightBlue: #148D8D;
  --yellow: #C1E1A7;
  --orange: #EFBC75;
  --white: #ffffff;
}

*{
  margin: 0;
  padding:0;
  box-sizing: border-box;
  transition: all 0.2s linear;
}
html{
  font-size: 72.5%;
  overflow-x: hidden;
  scroll-behavior:smooth;
}

body{
  background:var(--white);
  font-family: 'Poppins', sans-serif;
}
section{
  min-height: 100vh;
  padding: 10px 5%;
  width: 100vw;
}
.heading{
  color: var(--white);
  text-align: center;
  font-size: 7rem;
  padding-bottom: 30px;
}


/* navbar starts */

.header{
  box-sizing: content-box;
  background-color:var(--darkBlue);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  box-shadow: 0 10px 7px rgba(0, 0, 0, 0.3);
  padding: 1.7rem 8%;
  padding-bottom: 2rem;
  height: 3.0rem;
}
.navbar{
  box-sizing: border-box;
  display:flex;
  justify-content:space-between;
  align-items: center;
  flex-wrap:wrap;
  position:static;
}

.navbar .logo a{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3.0rem;
  
}
.navbar .logo img{
  height: 5.5rem; 
}
.navbar .logo a{
  text-decoration: none;
}
.navbar .logo a p{
  color: var(--white);
  font-family: 'Poppins';
  font-size: 2rem;
  padding-left: 6.5px;
  padding-top: 20px;
}

.header .navbar .tags ul {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap:wrap;
}

.header .navbar .tags ul li {
  margin-left: 2.5rem;
}
.header .navbar .tags ul li a {
  font-size: 1.57rem;
  color:var(--white);
  font-weight: 600;
  text-decoration:none;
  letter-spacing: 0.04rem;
  transition: 0.2s;
}

.header .navbar .tags ul li a.active,
.header .navbar .tags ul li a:hover {
  color: var(--white);
  border-bottom: 0.2rem solid var(--white);
  padding: 0.5rem 0;
}

/* navbar done */




/* herosection start */
.herosection{
  display: flex;
  /* background-image: url(/assests/growth.png); */
  background-repeat: no-repeat;
  background-position-x: right;
  background-position-y: bottom;
  /* background-size:750px 750px; */
  /* filter: grayscale(15); */
}
.herosection .details{
  width: 50%;
  padding: auto;

  /* padding-top: 0px; */

}

.herosection .details h2{
  position: absolute;
  color: #13486b;
  line-height: 85%;


  top: 170px;
  font-size: 6rem;
}
.herosection .details p{
  width: 50%;
  position: absolute;
  color: #000000;
  /* line-height: 85%; */
  font-size: 18px;


  top:360px;
  /* font-size: 6rem; */
  /* font-weight: 700; */
}
.herosection .details p span{
  font-size: 27px;
  font-weight: bold;
  color: rgb(214, 167, 24);
}
.herosection .heroImg {
  position: absolute;
  bottom: 0%;
  left: 55%;
  width: 50%;
}

.herosection .heroImg img{
  width: 85%;
  height: 85%;
  object-fit: cover;
  animation: 2s infinite alternate pulse ;
  animation-duration: 4s;
}
@keyframes pulse {
  0% {
    transform: translateY(-30px);
  }
  100% {
    transform: translateY(20px);
  }
}

/* herosection done */



/*  content include start*/
.content{
  padding-top:10rem ;

}
.content .container{
  display: flex;
  margin: auto;

  /* flex-wrap: wrap; */
  /* flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 300px; */
  /* wra */
}

.container .one {
  position: absolute;
  left: 0%;
  width: 50%;
}

.content .container .one img{
  width: 90%;
  height: 90%;
  object-fit: cover;
  animation: 2s infinite alternate pulse ; 
  /* animation-duration: 4s;
  /* filter: grayscale(15); */
}


@keyframes pulse {
  0% {
    transform: translateY(-30px);
  }
  100% {
    transform: translateY(20px);
  }
}

.twoo{
  position: absolute;
  margin-top: 13rem;
  left: 43%;
  width: 55%;
  text-align: center;
}
.twoo h3{
  font-size: 35px;
  color: var(--lightBlue);
}
.two {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.two1{
  margin-top: 20px;
  margin-bottom: 20px;
}
.two .box{
  flex: 1 1 300px;
 
  width: 300px;
  height: 130px;
  /* background-color: #13486b; */
  border-radius: 10px;
  border: 2px dashed var(--lightBlue);
  margin: 20px;
  display: flex;
  align-items: center;
  justify-content: left;
}

.two .box .internalImg{
  width: 100px;
  height: 100%;
  margin: 0px 20px;
  left: 0%;
} 
.two .box .internalImg img{
  width: 100%;
  height: 100%;
  object-fit: contain;
  /* margin-top: 10px; */
}
.two .box h3{
  font-size: 18px;
}
/*  content include done*/



/* lectures section start */
.lectures{
  padding: auto;
  padding-top: 10rem;
  padding-bottom: 10rem;
}

.lectures h1{
  color: var(--lightBlue);
  
}
.lectures h1 span{
  color: rgba(226, 177, 29, 0.918);
}
.lectureContain{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.lectureContain .box1{
  background-color: rgba(230, 95, 117, 0.289);
  width: 600px ;
  height: 250px;
  margin: 40px 35px;
  /* padding-left: 20px; */
  border-radius: 20px;
}

.lectureContain .box1 iframe{
  height: 100%;
  width: 100%;
  object-fit: contain;
  /* margin: 10px; */
  /* padding-left: 10px; */
  border-radius: 10px;
}
/* lectures section done */




/* yoga start */

.yoga{
  padding: auto;
  padding-top: 20rem;
}

.yoga h1{
  color: var(--lightBlue);
  z-index: 400;
  position: absolute;
  left: 43%;
  
}
/* .yoga h1:hover{
  scale: 2;
} */
.yoga h1 span{
  color: rgb(238, 186, 29);
  
}
.yoga img{
  position: absolute;
  left: 24%;
  z-index: 1;
  top: 455%;
  animation: 3s infinite alternate pulse;
}
.yogaContent{
  margin-top: 22rem;
}
.lectureContain{
  display: flex;
  align-items: center;
  justify-content: center;
}
.lectureContain .box1{
  background-color: rgba(230, 95, 117, 0.289);
  width: 600px ;
  height: 250px;
  margin: 40px 35px;
  /* padding-left: 20px; */
  border-radius: 20px;
}

.lectureContain .box1 iframe{
  height: 100%;
  width: 100%;
  object-fit: contain;
  /* margin: 10px; */
  /* padding-left: 10px; */
  border-radius: 10px;
}

/* yoga done */





/* Mind-muscle workout start */

.work{
  padding: auto;
  padding-top: 10rem;
}

.work h1{
  color: var(--lightBlue);
  
}
.work h1 span{
  color: rgba(226, 177, 29, 0.918);
}
.lectureContain{
  display: flex;
  align-items: center;
  justify-content: center;
}
.lectureContain .box1{
  background-color: rgba(89, 186, 218, 0.392);
  width: 600px ;
  height: 250px;
  margin: 40px 35px;
  /* padding-left: 20px; */
  border-radius: 20px;
}

.lectureContain .box1 iframe{
  height: 100%;
  width: 100%;
  object-fit: contain;
  /* margin: 10px; */
  /* padding-left: 10px; */
  border-radius: 10px;
}

/* Mind-muscle workout done */




/* footer */

.footer{
  background-color:var(--darkBlue) ;
}
.footer a,
a:hover,
a:focus,
a:active {
    text-decoration: none;
    outline: none;
}

.footer a,
a:active,
a:focus {
    color: #6f6f6f;
    text-decoration: none;
    transition-timing-function: ease-in-out;
    -ms-transition-timing-function: ease-in-out;
    -moz-transition-timing-function: ease-in-out;
    -webkit-transition-timing-function: ease-in-out;
    -o-transition-timing-function: ease-in-out;
    transition-duration: .2s;
    -ms-transition-duration: .2s;
    -moz-transition-duration: .2s;
    -webkit-transition-duration: .2s;
    -o-transition-duration: .2s;
}

.footer ul {
    margin: 0;
    padding: 0;
    list-style: none;
}


.footer {
padding: 100px 0px 0px;
/* background-color: #030a16; */
}
.footer .container{
  margin: auto;
}
.footer .row{
  display: flex;
  justify-content:space-evenly;
  align-items:start;
  flex-wrap: wrap;
  /* margin-left: 5%; */
}
.footer .widget1{
  max-width: 400px ;
}
.footer .widget1 .logo{
  margin-left: 6rem;
}

.footer .widget1 p {
  font-size: 16px;
  color: rgb(252, 252, 252);
  margin-top: 26px;
}

.footer .widget1 p span {
font-size: 19px;
color: orange;
margin-top: 26px;

}

.footer .socialLinks {
margin-top: 28px;
}

.socialLinks ul li {
display: inline-block;
}
.socialLinks ul li a{
  font-size: large;
}

.socialLinks ul li a i {
display: block;
margin: 0 2px;
width: 40px;
height: 40px;
background: #fafafa;
border-radius: 50%;
text-align: center;
margin-right: 5px;
line-height: 40px;
-webkit-transition: all 0.3s ease-in-out;
-moz-transition: all 0.3s ease-in-out;
-o-transition: all 0.3s ease-in-out;
transition: all 0.3s ease-in-out;
}

.socialLinks ul li a .fa-facebook-f {
color: #4267b2;
}

.socialLinks ul li a .fa-twitter {
color: #1da1f2;
}

.socialLinks ul li a .fa-google {
color: #dd5044;
}

.socialLinks ul li a .fa-linkedin{
color: #0177b5;
}


.socialLinks ul li a:hover i {
color: #fff;
}

.socialLinks ul li a:hover .fa-facebook-f {
background: #4267b2;
}

.socialLinks ul li a:hover .fa-twitter {
background: #1da1f2;
}

.socialLinks ul li a:hover .fa-google {
background: #dd5044;
}

.socialLinks ul li a:hover .fa-linkedin {
background: #0177b5;
}
footer .logo {
max-width: 200px;


}
.widget1 .logo a{
  display: flex;
  justify-content: center;
  align-items: center;
  /* height: 3.0rem; */
  flex-direction: row;
  
}
.widget1 .logo img{
  height: 15rem; 
}
.widget1 .logo a{
  text-decoration: none;
}
.widget1 .logo a span p{
  color: var(--white);
  font-family: 'Poppins';
  font-size: 5rem;
  padding-left: 6.5px;
  padding-top: 80px;
}


.footer h5 {
font-weight: 500;
margin-bottom: 28px;
text-transform: capitalize;
font-weight: 600;
color: #fff;
font-size: 21px
}

.footer .widget2 .media img {
margin-right: 20px;
max-width: 100px;
}
.footer .widget2 .media .media-body .news{
  padding-top: 10px;
}
.footer .widget2 .media p {
font-size: 16px;
color: rgba(255, 255, 255, .8);;
-webkit-transition: all .3s ease-in-out;
-moz-transition: all .3s ease-in-out;
transition: all .3s ease-in-out;
font-weight: 600;
line-height: 20px;
padding-top: 0px;
}

.footer .widget2 .media span {
font-size: 12px;
color: #ffb606;
text-transform: uppercase;
margin-top: 15px;
display: block;
}

.footer .widget2 .media {
margin-bottom: 20px;
}

.footer .widget3 ul li a,
.footer .widget4 ul li a {
font-size: 16px;
color: rgba(255, 255, 255, .6);;
text-transform: capitalize;
margin-bottom: 13px;
display: block;
}

.footer .widget3 ul li a:hover,
.footer .widget4 ul li a:hover,
.footer .widget2 a:hover p {
color: #ffb606;
}

.footer .widget3 h5 {
margin-bottom: 22px;
font-weight: 600;
color: #fff;
font-size: 21px;
line-height: 32px;
}

.footer .widget4 h5 {
margin-bottom: 22px;
font-weight: 600;
color: #fff;
font-size: 21px;
}

.copyRightArea {
margin-top: 83px;
border-top: 1px solid rgba(255, 255, 255, 0.2);
padding: 25px 0px 28px;
}

.copyRightArea p {
color: rgba(255, 255, 255, 0.6);
}



/* #####scroll bar designing#### */
::-webkit-scrollbar{
  width: 6px;
  background-color: transparent;
}
::-webkit-scrollbar-track{
  /* box-shadow:inset 0 0 6px rgb(45, 45, 45); */
  border-radius: 20px;
}
::-webkit-scrollbar-thumb{
  background: orange; 
  border-radius: 10px;
}
/* ####scroll bar designing ends #### */